<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ostem">

    <!-- Main robot structure -->
    <xacro:include filename="ostem_core.xacro" />

    <!-- Robot kinematics -->
    <xacro:include filename="ostem_gazebo_kinematics.xacro" />

    <!-- Sensors -->
    <gazebo>
        <plugin
            filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
            <render_engine>ogre2</render_engine>
        </plugin>
        <plugin filename="gz-sim-imu-system" name="gz::sim::systems::Imu">
        </plugin>
    </gazebo>

    <!-- LiDAR -->
    <!-- <xacro:include filename="lidar.xacro" /> -->

    <!-- IMU -->
    <!-- <xacro:include filename="imu.xacro" /> -->

</robot>